@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=EB+Garamond:ital@0;1');

* {
    margin: 0;
    padding: 0;
}

:root {
    padding: 1.5em 3em;
    --body: light-dark(#444, #ccc);
    --sans-serif: Barlow, sans-serif;
}

h1 {
    font: 600 4rem/0.875 var(--sans-serif);
}

h1::before {
    content: '';
    display: block;
    width: 12rem;
    aspect-ratio: 100.87/92.5;
    margin-bottom: 1.5rem;
    background: currentcolor;
    mask: url(phoenix.svg);
}

h2 {
    display: none;
}

main {
    font: 200%/1.1 'EB Garamond', serif;
}

#live {
    background: currentcolor;
    margin: 1.5rem -3rem 0;
    padding: 1.5rem 3rem 0.5rem;
}

#live h2 {
    color: #fff;
    background: #f22;
    display: inline-block;
    font: 600 75%/0.875 var(--sans-serif);
    text-transform: uppercase;
    margin-left: -0.4em;
    margin-bottom: 1rem;
    padding: 0.4em 0.5em 0.5em;
    border-radius: 0.5em;
}

#showlist {
    color: Canvas;
}

table {
    display: contents;
}

tr {
    display: block;
    list-style: none;
    margin: 0 0 0.5em;
}

td {
    display: block;
}

.date::after {
    white-space: pre;
}

.date {
    font-family: var(--sans-serif);
}

.date strong {
    font-weight: 600;
    margin-right: 0.1em;
}

.location {
    font-size: 75%;
    line-height: 1.4666;
}

.details {
    color: #888;
}

.details::after {
    content: '.';
}

summary {
    color: #888;
    cursor: pointer;
    font: 2rem/1.2 var(--sans-serif);
    font-variant-east-asian: proportional-width;
    list-style-position: outside;
}

summary span {
    display: block;
}

::details-content {
    margin-top: 0.5em;
}

#video {
    margin: 1.5rem 0;
}

#live ~ #video {
    margin-top: 0;
}

iframe {
    width: 100%;
    max-width: 48rem;
    height: auto;
    margin: 0.5em 0 0;
    border: none;
}

p, ul {
    margin: 0.5em 0 0;
    color: var(--body);
}

li {
    list-style: none;
}

li::after {
    content: ',';
}

li:nth-last-child(2)::after {
    content: ', &';
}

li:last-child::after {
    content: '.';
}

a:link, a:visited {
    color: inherit;
    text-decoration-thickness: from-font;
}

@media (min-width: 36em) {
    main {
        font-size: 300%;
    }
}

@media (min-width: 48em) {
    .half {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .half iframe {
        max-width: 23.25rem;
    }
}

@media (min-width: 68em) {
    :root {
        padding-inline: 0;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 16rem fit-content(48rem) 1fr;
        column-gap: 4rem;
    }

    h1 {
        display: grid;
        grid-row: 1;
        grid-column: 2 / 4;
        grid-template-columns: subgrid;
        align-items: end;
    }

    h1::before {
        width: 16rem;
        margin-bottom: 0;
    }

    #live {
        display: grid;
        grid-row: 2;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        margin-inline: 0;
        padding-inline: 0;
        padding-bottom: 0;
    }

    #live h2 {
        grid-column: 2;
        place-self: baseline start;
    }

    #showlist {
        grid-column: 3;
    }

    .venue, .location {
        display: inline;
        vertical-align: baseline;
    }

    .venue::after {
        content: ' / ';
        color: #888;
    }

    main {
        display: contents;
    }

    #video {
        grid-row: 3 / 6;
        grid-column: 3;
    }

    #links, #members {
        grid-column: 2;
    }

    #links {
        grid-row: 3;
    }

    #members {
        grid-row: 4;
    }
}
